
<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Fill A Form</span>
      <button id="buttonn" class="button" mat-button color="primary" (click)="Fill()">Fill A Form</button>
      <button  id="buttonnnn" class="button" mat-button color="primary" (click)="Instructions()">Instructions</button>
      <button  class="button" mat-button color="primary" (click)="Home()">Home</button>

    </mat-toolbar>
  </p>
  
  